* {
  background-color: transparent;
  text-color: #c0caf5;
  font: "Iosevka Nerd Font 13";
}

window {
  background-color: #1a1b26;
  border: 2px solid;
  border-color: #7aa2f7;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
}

inputbar {
  children: [prompt, entry];
  spacing: 10px;
  padding: 0 0 10px 0;
  border: 0 0 1px 0;
  border-color: #565f89;
  background-color: transparent;
}

prompt {
  text-color: #7aa2f7;
  background-color: transparent;
}

entry {
  background-color: transparent;
}

listview {
  lines: 2;
  spacing: 8px;
  background-color: transparent;
}

element {
  padding: 12px;
  border-radius: 6px;
  background-color: transparent;
}

element selected {
  background-color: rgba(122, 162, 247, 0.15);
  text-color: #7aa2f7;
}
